$black-primary: #000000;
$black-secondary: #0d0d0d;
$black-secondary-faded: #141414;
$black-tertiary: #191919;
$black-quaternary: #262626;
$black-quinary: #333333;
$black-senary: #404040;

$white-primary: #ffffff;
$white-secondary: #f2f2f2;
$white-tertiary: #e6e6e6;
$white-quaternary: #d9d9d9;
$white-quinary: #cccccc;
$white-senary: #bfbfbf;

$text-black: $black-primary;
$text-white: #fdf6e3;

html[data-theme="dark"] {
    .text {
        &--black {
            color: $text-white;
        }
    }

    body {
        background-color: $black-tertiary;
    }

    .personal--container {
        background-color: $black-secondary;
    }

    .skills--container {
        background-color: $black-secondary-faded;
    }
}